@model IEnumerable<FatFlat.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Utwórz nowy", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDkomentarz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flat.Miejscowosc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flat.Ulica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flat.NrBudynku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flat.NrMieszkania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ocena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tresc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDkomentarz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flat.Miejscowosc)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Flat.Ulica)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Flat.NrBudynku)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Flat.NrMieszkania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ocena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tresc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.IDkomentarz }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.IDkomentarz }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.IDkomentarz  })
        </td>
    </tr>
}

</table>
